@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");
/* import all font weights */

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* the universal selector * selects each and every element on a page and applies the declarations*/

/* BOX-MODEL */
/* In the box-model, an element with a specified width of 300px, a padding of 20px and border of 5px will have a total displayed with of 350px */
/* this is because padding left of 20px, right of 20px and border left and right of 5px are added to the specified width */
/* however, this isn't that practical */
/* to fix this we can add box-sizing: border-box; to the universal selector */
/* this changes our specified width and height to include the padding and border */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CHANGE ONE SINGLE VALUE TO SCALE UP OR DOWN SIZES OF ALL ELEMENTS RESPONSIVELY */
/* root font-size is set in the html selector*/
/* change this 10px so now 1 rem is exactly 10px. makes it easier to convert absolute measurements to rem, by dividing px measurements by 10*/
/* Now, we can change this one single, and each and every rem value will be scaled up or down depending on this font-size */
/* this enables us to easily scale up or down the sizes of all elements by only changing one value*/
/* meaning we can more easily create responsive css*/
html {
  font-size: 62.5%;
}
/* however, if we change the default font-size using px we remove the option for users to set their own font-size when viewing our page*/
/* if we put 100% here, this means the root font size is 16px if the user doesn't change the default font-size */
/* 10 is 62.5% of 16 so to set it back to 16px in % we make the font-size 62.5%*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; /* 1.7 times bigger than the default line height */
  color: #777;
  padding: 3rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fad, #28b4858f),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s ease-in;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.5s;
  position: relative;
  animation: moveInLeft 1s ease-in;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(2) scaleY(1.5);
  opacity: 0;
}
