.row {
  max-width: $grid-width;
  margin: 0 auto;
  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-botton: $gutter-vertical-small;
    }
  }

  // apply the following style if element is not the last child of row.

  @include clearfix;

  // we can use the attribute selector to act like a regexp selector for class names, here we're going to select classes than begin with "col-"
  // ^= starts with
  // *= contains
  // $= ends with
  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    // at max-width: 900px breakpoint,
    // all columns should have a width of 100%
    // use !important to ensure these widths are overwritten

    // then remove horizontal gutter as not needed anymore

    // then create a new variable called $gutter-vertical-small
    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - (#{$gutter-horizontal} * 2)) / 3);
  }

  .col-2-of-3 {
    width: calc(
      ((100% - (#{$gutter-horizontal} * 2)) / 3) * 2 + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    width: calc((100% - (#{$gutter-horizontal} * 3)) / 4);
  }

  .col-2-of-4 {
    width: calc(
      ((100% - (#{$gutter-horizontal} * 3)) / 4) * 2 + #{$gutter-horizontal}
    );
  }

  .col-3-of-4 {
    width: calc(
      ((100% - (#{$gutter-horizontal} * 3)) / 4) * 3 + #{$gutter-horizontal * 2}
    );
  }
}

// calc() allows you to do mathematical operations in css, and mix units.
// need to use #{} to use a sass variable
// apply a right margin to each of the columns except the last one

// max-width means that if the viewport is smaller than the width that we specify,
// then the element will fill 100% of the available space.
