.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  // GRACEFUL DEGRADATION
  // This involves providing a modern experience for modern browsers, and a simpler experience for older browsers
  // As an example, the background-filter only works in safari
  // we can use @supports to ask the browser if it supports a certain property
  // and if it does support the property, to apply certain styles:
  @supports (-webkit-background-filter: blur(10px)) or
    (background-filter: blur(10px)) {
    background-color: rgba($color-black, 0.3);
    -webkit-background-filter: blur(10px);
    background-filter: blur(10px);
  }
  // caniuse.com - can query whether properties are supported on particular browsers here

  // PREFIXES
  // the following prefixes allow you to use the newest or experimental CSS features which are not yet formally supported in the specification / web browsers:
  //- Safari: -webkit-
  //- Chrome: -webkit-
  //- Internet Explorer: -ms-
  //- Opera: -o-
  //- Firefox: -moz-
  //- Android: -webkit-
  //- iOS: -webkit-

  // open states
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }
    &:hover {
      color: $color-primary;
    }
  }
  &__content {
    width: 75%;
    background-color: $color-white;

    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    @include center-horizontally-and-vertically;
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s;
  }
  &__left {
    width: 33.3%;
    float: left;
    display: table-cell;
  }

  &__right {
    width: 66.7%;
    float: left;
    display: table-cell !important;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 3px dotted $color-grey-light-2;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 3px dotted $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

// column layout
// column-count property allows us to set out our text in columns
// use opacity: 0 and visibility: hidden in order to be able to animate the popup in and out of existence (as opposed to diaply: none which we can't animate)
// give popup id of "popup" (anchor) and set the target on the book now buttons to href="#popup"
// we can then use the :target pseudo-class on the element when the element becomes a target, and specify that the element should be visible
