.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: orange;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
// IMG HOVER STYLING

// styling on figcaption positions the text on top of the image, centered horizontally and vertically
// figcaption appears on hover
// for the image itself, apply starting scale of 1.4 and return to scale 1 on hover. this zooms the picture in and out.
// then we use filter property to blue the image and make the img darker on hover.

// SHAPE OUTSIDE
// defines a vector shape around which adjacent inline content (e.g. text) should wrap
// radius is 50% of the width at the center of the shape (50% horizontally and 50% vertically)
// property only works if element is floated and has defined width and height
// finally, actually create the circle using clip-path.
// use transform to add the left margin to the text rather than margin-left, as this is around a floated element.
