// base file is for basic definitions that apply to our entire project

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 900
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 600
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12, 12/16
  }
  // here we are passing the content 'font-size: 50%' into the mixin
}
